.base {
    height: 100vh;
}

.header__title {
    padding-top: 0.5px;
    border-bottom: solid 1px #eee9e6;
    position: relative;
}

.header__title h2,
.content__title h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Indie Flower', cursive;
    font-family: 'Inika', serif;
    margin-bottom: 15px;
}

.content__title h2 {
    margin-top: 0;
    padding-top: 24.9px;
}

.header__nav-button {
    font-family: 'Indie Flower', cursive;
    font-family: 'Inika', serif;
    font-family: 'Noto Serif JP', serif;
    font-size: 15px;
    width: 80px;
    height: 30px;
    background: #f5f5f5;
    border: solid 1px #d6c6af;
    color: #d6c6af;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translateY(-50%);
}

.content__background {
    height: 90vh;
    background: #dcd6d2;
}

.content__login-flame {
    width: 550px;
    height: 450px;
    background: #fffafa;
    border: solid 1.5px #d6c6af;
    border-radius: 10px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__login-inner-email,
.content__login-inner-pass {
    width: 300px;
    height: 45px;
    border: none;
    background: #f5f5f5;
    color: #dcdcdc;
    padding: 20px;
    font-size: 10px;
}

.content__login-inner p {
    margin-bottom: 10px;
    font-size: 20px;
}

.password {
    margin-top: 30px;
}

.content__login-inner-button {
    text-align: center;
    margin-top: 75px;
}

.login-button {
    font-size: 18px;
    width: 140px;
    height: 40px;
    background: #9d8e87;
    color: #fffafa;
    border: none;
}